apiVersion: apps/v1
kind: Deployment
metadata:
  name: flarie-todo-deployment
  labels:
    app: flarie-todo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flarie-todo
  template:
    metadata:
      labels:
        app: flarie-todo
    spec:
      containers:
        - name: flarie-todo
          image: lutfar1996/flarie-todo:22
          ports:
            - containerPort: 3000
          livenessProbe:
            httpGet:
              path: /items
              port: 3000
            initialDelaySeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /items
              port: 3000
            initialDelaySeconds: 10
            timeoutSeconds: 5
